* @kinde-oss/giants-kinde

# Dependency-related files
package.json @kinde-oss/sdk-engineers
**/package.json @kinde-oss/sdk-engineers
package-lock.json @kinde-oss/sdk-engineers
**/package-lock.json @kinde-oss/sdk-engineers
